.web
.states
*.py[cod]
*.pyo
.venv/
.web/
.states/
.mypy_cache/
.pytest_cache/
.ruff_cache/
__pycache__/
assets/external/
*.db
.env
.env.*
build/
dist/
node_modules/
.DS_Store
Thumbs.db
.venv_broken/
